body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
}

main{
   padding: 100px 40px 80px;
}

header{
    background-color: #4be38a;
    color: #000;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

header aside{
   position: absolute;
   left: 20px;
   top: 20px;
}

header>img{
    width: 200px;
    position: absolute;
    bottom: -1px;
    
}

header h1{
    font-size: 5rem;
    margin: 0;
}


.wrapper{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}


.card{
    grid-column: span 2;
    background-color: #000;
    text-align: left;
}

.card h2{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.card p{
    font-size: 1rem;
    margin: 1rem 0;
    line-height: 1.1;

}

.card img{
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}


button{
    border: none;
    cursor: pointer;
}

.button{
    background-color: #fc244f;
    border: none;
    color: #fff;
    padding: 12px 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-start;
    border-radius: 15px;
}

.button:hover{
    background-color: #e01f45;
}

.big-card{
    grid-column: span 3;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-card figure{
    margin: 0;  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.big-card figure img{
    width: 100%;
    height: auto;
   display: block;
}

.big-card section{
    padding: 30px;
}


.big-card h2{
    margin-bottom: 10px;
}

.big-card p{
    margin-bottom: 15px;
}

footer {
    background-color: #333;
    padding: 60px 40px;
    margin-top: 80px;
}


.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;}

footer h2 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #fff;
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer a.link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.social-media .icons {
    display: flex;
    flex-direction: row; 
}

.social-media .icons img {
    width: 24px;
    height: auto;
}
