body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
}

main{
   padding: 60px 40px;
   max-width: 1000px;
   margin: 0 auto;
}

header{
    background-color: #4be38a;
    color: #000;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

header aside{
   position: absolute;
   left: 20px;
   top: 20px;
}

header>img{
    width: 200px;
    position: absolute;
    bottom: -1px;
    
}

header h1{
    font-size: 5rem;
    margin: 0;
}

.big-card{
    background-color: #fff;
    color: #000;
    flex: 1;
    min-width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.big-card figure{
    margin: 0;  
    height: 500px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}


.big-card figure img{
    width: 100%;
    height: 100%;
   display: block;
}

.big-card section{
    padding: 30px;
}


.big-card h2{
    margin: 0 0 15px 0;
    font-size: 1.4rem
}

button{
    border: none;
    cursor: pointer;
}

.button{
    background-color: #fc244f;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 0.8rem;
    font-weight: bold;
    align-self: flex-start;
    border-radius: 5px;
}

.wrapper{
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.cart-summa{
    margin-top: 40px;
    border-top: 1px solid #444;
}

.cart-header{
    background-color: #ff6d6d;
    color: #070707;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 15px ;
    font-weight: bold;
}


.summa-row{
    display: grid;
    grid-template-columns:  2fr 1fr 1fr;
    padding: 15px 10px;
    border-bottom: 1px solid #444;
}

.total-row{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
    border-top: 1px solid #fff;
}

.Chekout-footer{

    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    padding-top: 40px;
}


.gemmie-btn{
    background-color: #fc244f;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
}
.gemmie-btn :hover{
    background-color: #e01f45;
}

footer {
    background-color: #333;
    padding: 60px 40px;
    margin-top: 80px;
}


.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;}

footer h2 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #fff;
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer a.link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.social-media .icons {
    display: flex;
    flex-direction: row; 
}

.social-media .icons img {
    width: 24px;
    height: auto;
}


